<strong>Olá, {{ name }}</strong>
<p>Houve um novo cadastro no meetup {{ title }}.</p>
<p>
  <strong>Nome do usuário: </strong> {{ user }} <br />
  <strong>Email do usuário: </strong> {{ email }} <br />
  <strong>Data/Hora: </strong> {{ date }} <br />
</p>
